
body {
    font-family: "Roboto", sans-serif;
    
}

.about, .contact {
    padding: 30px 0;
}


.title-section {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}

.text-section {
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.portfolio {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 15px;
}
.about-img{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-contact {
    margin: 0 auto;
}

#nav-footer{
    justify-content: center
}
#nav-footer-link{
    display: flex;
}

#nav-footer-link p{
    margin-left: 10px;
}